h1{

  color: #678B3E;
  position: absolute;
  text-align: center;
  width:60%;
  left:20%;
  font-size:50px;
  font-family:"Arial";
}

h2{

  color: #678B3E;
  text-align: left;

  left:15%;
  font-size:20px;
  font-family:"Arial";
  display:inline;


}

.p_Border{
  border-style: solid;
  border-width: 5px;
  border-color: #BFBFBF;
  display:inline-block;
}

.navbar {
  border-style: solid;
  border-width: 5px;
  border-color: #BFBFBF;
  overflow: hidden;
  background-color: #white;
  position: absolute;
  left: 15%;
  width: 70%;
  position: absolute;
  top: 150px;
  height: 63px;
}

.navbar a{
  position: relative;
  left:10%;
  float: left;
  display: block;
  text-align: center;
  padding: 19px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family:"Arial";
}

.greenText {
  color: #678B3E;
}

.greyText{
  color:#BFBFBF;
}



.imageBig{
  border-style: solid;
  border-width: 5px;
  border-color: #BFBFBF;
  left: 15%;
  width: 70%;
  height:450px;
  top:240px;
  position: absolute;

}

.imageSmallLeft{
  border-style: solid;
  border-width: 3px;
  border-color: #BFBFBF;
  left: 15%;
  width: 20%;
  top:230px;
  position: absolute;
}

.detail{

  left: 15%;
  width: 70%;
  top:730px;
  font-size:15px;
  position: absolute;
  color:#678B3E;
    font-family:"Arial";

}

.addline{
  margin:0;
  padding:0;
  left:15%
  width:70%;
  height:4px;
  background-color:#EFEFEF;
  overflow:hidden;
  margin-top: 4px;
  margin-bottom: 15px;
}

.addBottom{
  margin:0;
  padding:0;
  left:15%
  width:70%;
  height:4px;
  background-color:white;
  overflow:hidden;
  margin-top: 4px;
  margin-bottom: 15px;
}


.video{
  position: relative;

  left: 10%;
  width:70%;
  height: 400px;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
